@page "/evidence"

<PageTitle>Evidence</PageTitle>

<h1>Evidence!</h1>

<div class="p-2 my-3 border">
    <label>Datum: <input type="date"/></label>
    <label>Nákladu: <input type="number" /></label>
    <label>Výnosy: <input type="number" /></label>
    <button>Přidat</button>
</div>
<div class="p-2 my-3 border">
    <button>Zobraz vše</button>
    <button>Počet záznamů</button>
    <button>Statistiky</button>
</div>
<div class="p-2 my-3 border">
    <p></p>
</div>
@code {

}
